<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/558e23e4-e31f-4e3c-a4e6-86506824c2f3/resourceGroups/Test_group/providers/Microsoft.ContainerRegistry/registries/MVCproject20221129012831</ResourceId>
    <ResourceName>MVCproject20221129012831</ResourceName>
    <ResourceGroup>Test_group</ResourceGroup>
    <Subscription>Azure Pass - 贊助</Subscription>
    <RegistryUrl>https://mvcproject20221129012831.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0914cb04-4a0f-4183-90ab-eab050fb7857</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>